.container
  .timeline
    .timeline-inner
      .post-btn
        = link_to new_article_path do
          = image_tag 'photo-camera.png'
      - @articles.each do |article|
        = link_to article_path(article) do
          .article
            .articles-inner
              .user-icon
                = image_tag 'default-avatar.png'
                %span.user-name
                  = current_user.profile.nickname
                %span.post-time
                  = time_ago_in_words(article.updated_at, include_seconds: true)+"前"
              .post-image
                .post-image-inner
                  = image_tag 'Rectangle (4).jpg'
              %ul.post-btns
                %li
                  .heart-btn
                    = image_tag 'Vector.jpg'
                %li
                  .comment-btn
                    = image_tag 'Vector.png'
                %li
                  .share-btn
                    = image_tag 'Vector (1).png'
              .heart-information
                いいね！：yamada,yoshida, 他
              .article-information
                = current_user.profile.nickname
                = article.content
              .comment-view
                コメント表示
              
              

- if user_signed_in?
  = link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  = link_to "新規登録", new_user_registration_path
  = link_to "ログイン", new_user_session_pat