.container
  .article
    .articles-inner
      .user-icon
        = image_tag 'default-avatar.png'
        %span.user-name
          - if @article.user.present?
            = @article.user.display_name
        %span.post-time
          = time_ago_in_words(@article.updated_at, include_seconds: true)+"前"
      .post-image
        .post-image-inner
          = image_tag 'Rectangle (4).jpg'
      %ul.post-btns
        %li
          - if user_signed_in?
            - if current_user.has_liked?(@article)
              .heart-btn
                = link_to article_like_path(@article), data: { method: 'delete' } do
                  = image_tag 'Vector (1).jpg'
            - else
              .heart-btn
                = link_to article_like_path(@article), data: { method: 'post' } do
                  = image_tag 'Vector.jpg'
        %li
          .comment-btn
            = image_tag 'Vector.png'
        %li
          .share-btn
            = image_tag 'Vector (1).png'
      .heart-information
        いいね！：yamada,yoshida, 他
      .article-show-information
        = @article.auther_name
        = @article.content
      .comment-view
        コメント表示
      - if user_signed_in? && current_user.has_written?(@article)
        .edit-delete-btn
          .edit-btn
            = link_to '編集する', edit_article_path(@article)
          .delete-btn
            = link_to '削除する', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？'}