- if user_signed_in?
  = link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  = link_to "新規登録", new_user_registration_path
  = link_to "ログイン", new_user_session_path
%br/
- if user_signed_in?
  = current_user.name 
  = current_user.email


.input__area
  %img#image-preview{:src => "https://drive.google.com/uc?export=view&id=1pIfz_Uogs78X8IEH2KV2Tur1NnS0DCNw"}/
  %label.input-button
    %input#image{:type => "file"}/
= javascript_pack_tag 'home/test'

